<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    name="viewport" content="width=device-width, initial-scale=1"    - TO BYŁO W META#}

    <title>{% block title %}Choir assistant{% endblock %}</title>

<style>

* {
    box-sizing: border-box;
}
/* Create column that floats to the left*/
.column {
    float: left;
    width: 10%;
    padding: 10px;
    height: 90vh; /* Should be removed. Only for demonstration */
    align-items: center;
    border-style: solid;
}

.column2 {
    float: right;
    width: 90%;
    padding: 10px;
    height: 90vh; /* Should be removed. Only for demonstration */
}


.center {
    align-self: center;
}



</style>
</head>
<body>

<h2 class="center">{% block page_info %}Choir assistant{% endblock %}</h2>

<div class="column" style="background-color:#aaa;">
    <h2>Menu</h2><br><br>
    {% block menu %}

        <br><p><a href="{% url "all_events" %}">Wydarzenia</a></p>
        {% if user.is_superuser %}
            <h6><a href="/add_event">Dodaj wydarzenie</a></h6>
        {% endif %}
{#        {% url 'events' %}#}
        <br><p><a href="{% url "all_songs" %}">Utwory</a></p>
        {% if user.is_superuser %}
            <h6><a href="/add_song">Dodaj utwór</a></h6>
        {% endif %}
{#        {% url 'songs' %}#}
        <br><p><a href="{% url "all_users" %}">Chórzyści</a></p>
        {% if user.is_superuser %}
            <h6><a href="/add_user">Dodaj osobę</a></h6>
        {% endif %}
{#        {% url 'members' %}#}
        <br><p><a href="">Moje dane</a></p>
{#        {% url 'profile' %}#}

        <br><br><br><br><br>

        <p><a href="{% url 'logout' %}">Wyloguj</a></p>



    {% endblock %}
</div>


<div class="column2">
    {% block content %}
{#        <h2>Column 2</h2>#}
{#        <p>Some text..</p>#}
    {% endblock %}
</div>


<footer>Zalogowany użytkownik: {{ user.username }}</footer>

</body>
</html>

















{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>{% block title %}Choir assistant{% endblock %}</title>#}
{##}
{##}
{#</head>#}
{##}
{#<body>#}
{##}
{#    {% block content %}#}
{##}
{#    {% endblock %}#}
{##}
{#   <footer>{{ user.username }}{% if user.is_authenticated %}  |  <a href="{% url 'logout' %}">Wyloguj</a>{% endif %}</footer>#}
{#</body>#}
{#</html>#}