{% extends "base.html" %}

{% block style %}
span.weak {
    font-size: 9px;
}

{% endblock %}


{% block title %}
    Choir assistant - dodawanie wydarzenia
{% endblock %}


{% block page_info %}

    Lista utworów

{% endblock %}

{% block content %}


    <ol>

    {% for song in all_songs %}

        <li><a href="../song/{{ song.id }}">{{ song.name }}  ({{ song.composer }}) </a>
        {% if user.is_superuser %} - <a href="../song/{{ song.id }}/delete"><span class="weak">usuń utwór</span></a> {% endif %}</li><br>

    {% endfor %}


    </ol>


{% endblock %}