{% extends "base.html" %}


{% block style %}
span.weak {
    font-size: 9px;
}

{% endblock %}

{% block title %}
    Choir assistant - dodawanie wydarzenia
{% endblock %}


{% block page_info %}

    Lista nadchodzących wydarzeń

{% endblock %}

{% block content %}

<h3>Nadchodzące wydarzenia</h3>

    <ol>

    {% for event in events %}

        <p><li><a href="../event/{{ event.id }}">{{ event.name }} ({{ event.place }})  -  {{ event.date }},  godzina {{ event.start_hour }}</a></li></p>

    {% endfor %}


    </ol>

    <br><br><br><br><br><br><br><br>



<h3>Wydarzenia minione:</h3>

    <ol>

    {% for event in previous_events %}

        <p><li>{{ event.name }} ({{ event.place }})  -  {{ event.date }},  godzina {{ event.start_hour }}
        {% if user.is_superuser %} - <a href="../event/{{ event.id }}/check"><span class="weak">sprawdź obecność</span></a> {% endif %}</li></p>

{# <a href="../event/{{ event.id }}">    </a>    - due to the bug, at the moment links are unavailable    #}

    {% endfor %}


    </ol>




{% endblock %}