{% extends "base.html" %}

{% block title %}
    Choir assistant - dodawanie wydarzenia
{% endblock %}


{% block page_info %}

    Dodawanie użytkownika

{% endblock %}

{% block content %}

{% if alert %}

    <p>{{ alert }}</p>

    {% endif %}

        <form method="post">
            {% csrf_token %}
            <label>Nazwa użytkownika:
                <input type="text" maxlength="50" name="name" placeholder="{{ specific_user.username }}">
            </label><br>
            <label>Imię użytkownika:
                <input type="text" maxlength="50" name="first" placeholder="{{ specific_user.first_name }}">
            </label><br>
            <label>Nazwisko użytkownika:
                <input type="text" maxlength="50" name="last" placeholder="{{ specific_user.last_name }}">
            </label><br>
            <label>Email użytkownika:
                <input type="email" name="email" placeholder="{{ specific_user.email }}">
            </label><br>
            <label>Telefon użytkownika:
                <input type="text" maxlength="20" name="phone" placeholder="{{ specific_user_ext.phone }}">
            </label><br>
            {% if user.is_superuser %}

            <label>Nadać prawa administratora?
                <input type="checkbox" name="admin" {% if specific_user.is_superuser %} checked {% endif %}>
            </label><br>
            <label>Aktywny chórzysta?
                <input type="checkbox" name="active" {% if specific_user.is_active %} checked {% endif %}
            </label><br>

            {% endif %}

            <input type="submit" value="Zapisz">
        </form>


{% endblock %}